{{> head }}

<body>
    {{> navbar }}

    <div class="jumbotron">
        <h1 class="display-3">Hello, {{ capitalizar nombre }} </h1>
        <hr class="my-2">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium, modi totam tempore perspiciatis dolor iure! Eius ut voluptate, atque tenetur voluptatibus porro hic quibusdam error? Quia iusto libero ad dolorem!</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
        </p>
    </div>
    
    {{> footer}}
</body>